@font-face {
	font-family: Open-Sans;
	src: url(../fonts/OpenSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-ExtraBold.otf);
}

body {
	font-family: Open-Sans;
	font-size: 15px;
	line-height: 30px;
	padding: 0;
	margin: 0;
}

.page-title,
.section-title {
    color: #000000;
	font-family: Gilroy;
	font-size: 47px;
	font-weight: 700;
}

h3 {
	font-family: Gilroy;
	font-size: 18px;
	font-weight: 700;
}

.logo {
	width: 163px;
	height: 36px;
	font-family: Gilroy;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
}

