@font-face {
	font-family: Open-Sans;
	src: url(../fonts/OpenSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy-ExtraBold.otf);
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.page-header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 40px;
	background: #f8e294;
	min-height: 186px;
}

.logo {
	color: #000000;
	font-family: Gilroy;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
}

.logo--header {
	width: 100%;
	margin-top: -52px;
}

.page-header-middle {
	display: flex;
}

.search {
	width: 150px;
	margin-right: auto;
}

.search--button {
	display: none;
}

.user-nav {
	width: 500px;
	display: flex;
}

.user-nav {
	justify-content: space-between;
}

user-profile {
	width: 280px;
}

.user-block__link--profile {
	margin-right: 20px;
}

.user-block__link--log {
	margin-right: auto;
}

.main-nav {
	width: 100%;
	padding: 0px;
}

.nav-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.nav-list__item--catalog {
	margin-right: auto;
}

.nav-catalog__list {
	display: none;
}

.main {
	width: 100%;
}

.content-header {
	display: flex;
	min-height: 180px;
	flex-direction: column;
	padding-left: 60px;
	padding-right: 60px;
}

.breadcrumbs {
	list-style: none;
	display: flex;
	padding: 0px;
	flex-wrap: wrap-reverse;
}

.shop {
	display: flex;
}

.filter {
	align-self: stretch;
	width: calc(50% - 252px);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.filter-name--shop {
	width: 268px;
}

.filter-form {
	width: 268px;
}

.shop-middle {
	width: calc(50% + 252px);
	padding-left: 50px;
}

.sort {
	display: flex;
	width: 100%;
	height: 70px;
}

.catalog {
	width: 760px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}



.catalog-paginator {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.catalog-paginator-numbers {
	display: flex;
	list-style: none;
	padding: 0px;
}
