@font-face {
	font-family: Open-Sans;
	font-weight: 300;
	src: url(../fonts/OpenSans-Light.woff) format('woff'), url(../fonts/OpenSans-Light.ttf) format("ttf");
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroyextrabold.woff) format("woff"), url(../fonts/Gilroyextrabold.ttf) format("ttf");
}

@font-face {
	font-family: Gilroy-light;
	src: url(../fonts/Gilroylight.woff) format("woff"), url(../fonts/Gilroylight.ttf) format("ttf");
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	color: #464646;
	position: relative;
	min-width: 1200px;
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.button,
.button__paginator,
.button__paginator-number{
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}

.button__paginator {
	display: inline-block;
	line-height: 70px;
	height: 100%;
	padding-right: 30px;
	padding-left: 30px;
	transition: all .2s;
	align-self: stretch;
	min-height: 100%;
}

.button__paginator:hover {
	background: #d8d8d8;
}

.button__paginator:active {
	color: rgba(0, 0, 0, .3);
}

.button__paginator-number {
	line-height: 20px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	transition: all .2s;
	opacity: .3;
	text-decoration: none;
}

.button__paginator-number:hover {
	opacity: .7;
}

.button__paginator-number:active {
	opacity: 1;
}

.button__paginator--active {
	opacity: 1;
}

.button {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	position: relative;
	z-index: 2;
	display: inline-block;
	padding-right: 40px;
	padding-left: 40px;
	cursor: pointer;
	text-align: center;
	letter-spacing: .2em;
	border: none;
	background: none;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.button::before {
	position: absolute;
	z-index: -1;
	top: 16px;
	left: 0;
	width: 100%;
	height: 8px;
	content: '';
	transition: all .5s;
	color: rgba(0, 0, 0, 1);
	background-color: #f3ce48;
}

.button:hover::before {
	top: 0;
	height: 40px;
}

.button:active {
	color: rgba(0, 0, 0, .3);
}

.logo,
.page__title {
	font-family: Gilroy, "Arial", sans-serif;
	font-weight: 700;
}

.page__title {
	font-size: 47px;
	color: #000;
	letter-spacing: 0.5px;
}

.logo {
	font-size: 48px;
	line-height: 48px;
	transition: opacity .2s;
	text-decoration: none;
	letter-spacing: .015em;
	text-transform: uppercase;
}

.logo:hover {
	opacity: .6;
}

.logo:active {
	opacity: .3;
}

.logo--header {
	margin-top: -2px;
	margin-bottom: 8px;
	margin-left: -2px;
	color: #000;
}

.logo--footer {
	color: #ffc600;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	min-height: 205px;
	padding-right: 60px;
	padding-left: 60px;
	background-color: #f8e294;
	box-shadow: inset 0 19px 0 0 #fff;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.search-form {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 440px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.search-form__input {
	line-height: 50px;
	padding-left: 40px;
	transition: border-bottom .4s;
	border: none;
	border-bottom: 2px solid transparent;
	outline: none;
	background: transparent;
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
}

.search-form::before {
	position: absolute;
	top: 17px;
	left: 5px;
	display: block;
	width: 18px;
	height: 18px;
	content: '';
	background: url(../img/spritesheet.png) no-repeat -449px -5px;
}

.search-form__input::-webkit-input-placeholder {
	font-size: 15px;
	transition: opacity .4s;
	opacity: .3;
	color: #000;
}

.search-form__input:-ms-input-placeholder {
	font-size: 15px;
	transition: opacity .4s;
	opacity: .3;
	color: #000;
}

.search-form__input::placeholder {
	font-size: 15px;
	transition: opacity .4s;
	opacity: .3;
	color: #000;
}

.search-form__input:hover::-webkit-input-placeholder {
	opacity: .6;
}

.search-form__input:hover:-ms-input-placeholder {
	opacity: .6;
}

.search-form__input:hover::placeholder {
	opacity: .6;
}

.search-form__input:focus::-webkit-input-placeholder {
	opacity: 1;
}

.search-form__input:focus:-ms-input-placeholder {
	opacity: 1;
}

.search-form__input:focus::placeholder {
	opacity: 1;
}

.search-form__input:focus {
	border-bottom: 2px solid black;
}

.search-form__input:focus~.search__button {
	opacity: 1;
}

.search__button {
	font-family: 'Open Sans', "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	padding-right: 20px;
	padding-left: 20px;
	cursor: pointer;
	transition: all .4s;
	opacity: 0;
	color: #000;
	border: none;
	border: 2px solid black;
	background: transparent;
}

.search__button:hover {
	color: white;
	background: black;
}

.search__button:active {
	opacity: 1;
	color: rgba(255, 255, 255, .3);
}

.header-middle,
.user-nav {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.header-middle {
	margin-bottom: 5px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.user-nav__link {
	display: inline-block;
	line-height: 40px;
	color: #fff;
	transition: opacity .2s;
}

.nav-profile__link {
	display: inline-block;
	color: black;
	transition: opacity .2s;
}

.nav-profile__link:last-child {
	opacity: 0.3;
}

.user-nav__link:hover,
.user-nav__link:hover::before,
.nav-profile__link:hover,
.nav-profile__link:hover::before {
	opacity: .6;
}

.user-nav__link:active,
.user-nav__link:active::before,
.nav-profile__link:active,
.nav-profile__link:active::before {
	opacity: .3;
}

.nav-profile {
	line-height: 17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	width: 240px;
}

.nav-profile__link:first-child {
	position: relative;
}

.nav-profile__link:first-child::before {
	position: absolute;
	top: 3px;
	left: 0;
	width: 15px;
	height: 13px;
	content: '';
	background: url(../img/spritesheet.png) no-repeat;
	background-position: -5px -31px;
}

.nav-profile__link--footer:first-child::before {
	background-position: -28px -31px;
}

.nav-profile--footer {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.nav-profile__link {
	font-family: 'Open Sans', "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	padding-left: 30px;
	text-decoration: none;
}

.nav-profile__link--header {
	color: #000;
}

.nav-profile__link--footer {
	color: #fff;
}

.user-nav__link {
	font-family: 'Open Sans', "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	position: relative;
	margin-left: 45px;
	padding-left: 20px;
	text-decoration: none;
}

.user-nav__link:before {
	position: absolute;
	content: '';
	background: url(../img/spritesheet.png) no-repeat;
}

.user-nav__link--compare:before {
	top: 16px;
	left: 0;
	width: 10px;
	height: 10px;
	background-position: -69px -5px;
}

.user-nav__link--compare.user-nav__link--footer::before {
	width: 12px;
	height: 10px;
	background: url(../img/spritesheet.png) no-repeat;
	background-position: -49px -5px;
}

.user-nav__link--basket.user-nav__link--footer::before {
	width: 12px;
	height: 12px;
	top: 15px;
	background: url(../img/spritesheet.png) no-repeat;
	background-position: -5px -5px;
}

.user-nav__link--basket:before {
	top: 15px;
	left: 0;
	width: 12px;
	height: 12px;
	background-position: -27px -5px;
}

.user-nav__link:nth-child(1) {
	margin-left: 0;
}

.user-nav__link--header {
	color: #000;
}

.nav,
.nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav {
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.nav-list {
	position: relative;
	padding-left: 0;
	list-style: none;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.nav-list__item {
	margin-right: 35px;
}

.nav-list__item--catalog {
	margin-right: auto;
	cursor: pointer;
}

.nav-list__item:last-child {
	margin-right: -3px;
	margin-left: 73px;
}

.nav-list__link {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 0;
	transition: opacity .2s;
	text-decoration: none;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #000;
}

.nav-list__link:hover {
	opacity: .6;
}

.nav-list__link:active {
	opacity: .3;
}

.nav-catalog {
	position: absolute;
	z-index: 4;
	top: 25px;
	left: -60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	width: 1160px;
	min-height: 166px;
	padding-top: 16px;
	transition: all .4s;
	opacity: 0;
}

.nav-catalog:hover {
	opacity: 0;
}

.nav-catalog-list {
	margin-right: 0px;
	padding: 0;
	list-style: none;
	padding-left: 60px;
}

.nav-catalog-list:hover .nav-catalog {
	opacity: 1;
}

.nav-catalog__item {
	margin-bottom: 20px;
}

.nav-catalog__link {
	text-decoration: none;
	color: black;
}

.nav-list__item--catalog:hover .nav-catalog {
	min-height: 13px;
	opacity: 1;
	background: #f8e294;
}

.carousel {
	position: relative;
	z-index: 1;
	flex-direction: column;
	margin-bottom: 98px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.carousel,
.carousel-item,
.carousel-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.carousel-slider {
	position: relative;
	min-height: 486px;
	margin-top: 0;
	padding: 0;
	list-style: none;
	box-shadow: inset 0 117px 0 0 #f8e294;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.carousel-item {
	position: absolute;
	left: 30px;
	min-width: 1100px;
	height: 483px;
	padding-top: 7px;
	padding-right: 60px;
	padding-left: 60px;
	transition: all .4s;
}

.carousel-item__img {
	display: inline-block;
	margin-right: auto;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.carousel-item__img--slide-3 {
	position: relative;
	margin-left: -30px;
}

.carousel-item:before {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 180px;
	position: absolute;
	z-index: 1;
	top: 50px;
	right: 0;
	color: white;
}

.carousel-item:nth-child(1):before {
	content: '01';
}

.carousel-item:nth-child(2):before {
	content: '02';
}

.carousel-item:nth-child(3):before {
	content: '03';
}

.carousel-item-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	width: 480px;
	height: 440px;
	margin-right: -10px;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.carousel-item-content:before {
	width: 100px;
	height: 7px;
	margin-bottom: 35px;
	content: '';
	background: #fff;
}

.carousel-item__title {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 47px;
	font-weight: 700;
	line-height: 55px;
	z-index: 10;
	margin-bottom: 5px;
	letter-spacing: .016em;
	color: #000;
}

.carousel-item__text {
	font-size: 15px;
	line-height: 30px;
}

.carousel-item__more {
	margin-top: auto;
	margin-bottom: 5px;
}

.carousel-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.carousel-info__item {
	font-size: 13px;
	line-height: 20px;
	width: 150px;
	margin-top: 50px;
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
}

.carousel-info__main {
	font-family: Gilroy-light;
	font-size: 36px;
	font-weight: 300;
	line-height: 40px;
	display: block;
	height: 40px;
	margin-bottom: 10px;
	color: #000;
}

.carousel-item,
.service-list-item:nth-child(2),
.service-list-item:nth-child(3) {
	opacity: 0;
}

.carousel-control {
	position: absolute;
	right: 80px;
	bottom: 160px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	width: 80px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.carousel-control__custom {
	display: inline-block;
	width: 10px;
	height: 10px;
	flex-basis: 10px;
	cursor: pointer;
	transition: all .2s;
	align-self: center;
	opacity: .3;
	border: 3px solid black;
	border-radius: 50%;
}

.carousel-control__custom:hover {
	opacity: .4;
}

.carousel-control__radio {
	display: none;
}

#slide-1:checked~.carousel-control>.carousel-control__custom--1,
#slide-2:checked~.carousel-control>.carousel-control__custom--2,
#slide-3:checked~.carousel-control>.carousel-control__custom--3 {
	opacity: 1;
}

#slide-1:checked~.carousel-slider>.carousel-item:nth-child(1),
#slide-2:checked~.carousel-slider>.carousel-item:nth-child(2),
#slide-3:checked~.carousel-slider>.carousel-item:nth-child(3) {
	opacity: 1;
}

.popular {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	font-size: 0;
	margin-bottom: 72px;
	padding: 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.popular-img-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 160px;
	height: 160px;
	margin-bottom: 36px;
	transition: background .6s;
	background: #f8e294;
}

.popular__img {
	display: block;
	margin: auto;
}

.popular__img--monopode {
	margin-bottom: 0;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
}

.popular-link {
	text-decoration: none;
	cursor: pointer;
	width: 160px;
	height: 100%;
	display: inline-block;
}

.popular-item {
	width: 160px;
	height: 100%;
	transition: opacity .2s;
}

.popular-item:hover .popular-img-block {
	background: #f1c62a;
}

.popular-item:active {
	opacity: .3;
}

.popular-item__title {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: #000;
}

.service {
	min-height: 388px;
	margin-bottom: 90px;
	background: #e6e6e6;
	box-shadow: inset 0 100px 0 0 #fff;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.service,
.service-control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.service-control__radio {
	display: none;
}

.service-control {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 320px;
	margin-left: 5px;
	padding-top: 80px;
	-ms-flex-item-align: start;
	align-self: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.service-control:after {
	position: absolute;
	top: 0;
	right: -2px;
	width: 7px;
	height: 100%;
	content: '';
	background: black;
}

.service-control__custom {
	display: inline-block;
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	position: relative;
	z-index: 5;
	width: 160px;
	height: 40px;
	margin-bottom: 25px;
	margin-left: 5px;
	cursor: pointer;
	text-align: center;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #000;
}

.service-control__custom:before {
	position: absolute;
	z-index: -1;
	top: 16px;
	left: 0;
	width: 100%;
	height: 7px;
	content: '';
	transition: all .3s;
	background: #f1c62a;
}

.service-control__custom:hover:before {
	top: 0;
	height: 100%;
}

#service-1:checked~.service-control>.service-control__custom:nth-child(1):before,
#service-2:checked~.service-control>.service-control__custom:nth-child(2):before,
#service-3:checked~.service-control>.service-control__custom:nth-child(3):before {
	z-index: -1;
	top: 0;
	width: 280px;
	height: 40px;
	background: black;
}

#service-1:checked~.service-control>.service-control__custom:nth-child(1),
#service-2:checked~.service-control>.service-control__custom:nth-child(2),
#service-3:checked~.service-control>.service-control__custom:nth-child(3) {
	color: #f7e285;
}

.service-list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 880px;
	margin-right: 5px;
	padding-top: 42px;
	padding-left: 120px;
}

.service-list-item {
	position: absolute;
	width: 700px;
	padding-right: 258px;
	transition: all .4s;
	opacity: 0;
}

#service-1:checked~.service-list>.service-list-item:first-child,
#service-2:checked~.service-list>.service-list-item:nth-child(2),
#service-3:checked~.service-list>.service-list-item:nth-child(3) {
	opacity: 1;
}

.service-list-item:after {
	position: absolute;
	top: 43px;
	right: 8px;
	content: '';
	background: url(../img/spritesheet.png) no-repeat;
}

.service-list-item--delivery:after {
	width: 136px;
	height: 164px;
	background-position: -255px -5px;
}

.service-list-item--warranty:after {
	width: 171px;
	height: 195px;
	background-position: -255px -179px;
}

.service-list-item--credit:after {
	width: 156px;
	height: 188px;
	background-position: -89px -5px;
}

.service-list__title {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 47px;
	font-weight: 700;
	margin-bottom: 40px;
	letter-spacing: .015em;
	color: #000;
}

.service-list__text {
	line-height: 30px;
	letter-spacing: .015em;
}

.brands,
.description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 88px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.brands__img {
	transition-property: opacity, -webkit-filter;
	transition-property: filter, opacity;
	transition-property: filter, opacity, -webkit-filter;
	transition-duration: 1s;
	opacity: .2;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.brands__img:hover {
	opacity: 1;
	-webkit-filter: none;
	filter: none;
}

.description {
	min-height: 564px;
	margin-bottom: 90px;
}

.description--button {
	width: 260px;
	margin-top: auto;
	margin-bottom: -10px;
	padding: 0;
}

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	padding-right: 100px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-ms-flex-preferred-size: 560px;
	flex-basis: 560px;
}

.about:before,
.contacts:before {
	width: 80px;
	height: 7px;
	margin-bottom: 15px;
	content: '';
	background: black;
}

.about__title {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 47px;
	font-weight: 700;
	color: #000;
}

.about-list {
	margin-top: 50px;
	padding: 0;
	list-style: none;
}

.about-list__item {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	position: relative;
	padding-left: 35px;
	color: black;
}

.about-list__item:before {
	position: absolute;
	top: 14px;
	left: 0;
	width: 4px;
	height: 4px;
	content: '';
	opacity: .3;
	border: 3px solid #000;
	border-radius: 50%;
	background-color: #fff;
}

.contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-ms-flex-preferred-size: 560px;
	flex-basis: 560px;
}

.contacts__title {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 47px;
	font-weight: 700;
	color: #000;
}

.contacts-map {
	display: inline-block;
}

.contacts-map__img {
	margin-top: 20px;
}

.footer {
	min-height: 323px;
	margin-top: auto;
	padding-top: 52px;
	color: #fff;
	background: #464646;
}

.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.footer-middle,
.footer-top {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-middle {
	margin-bottom: 60px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.footer-bottom,
.footer-info,
.footer-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-info {
	margin-left: 5px;
}

.footer-info__link:hover {
	opacity: .6;
}

.footer-info__link:active {
	opacity: .3;
}

.footer-bottom {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: center;
}

.footer-bottom:after {
	width: 80px;
	height: 7px;
	content: '';
	background: #ffc700;
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.footer-info {
	width: 425px;
	margin-right: 45px;
}

.social {
	font-size: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 150px;
	margin-left: -65px;
}

.social__link {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 15px;
	transition: all .2s;
	opacity: .7;
	background: url(../img/spritesheet.png) no-repeat;
}

.social__link--insta {
	width: 39px;
	height: 38px;
	background-position: -401px -53px;
}

.social__link:hover {
	opacity: 1;
}

.social__link:active {
	opacity: .3;
}

.social__link--fb {
	width: 39px;
	height: 38px;
	background-position: -401px -5px;
}

.social__link--tw {
	width: 38px;
	height: 38px;
	background-position: -5px -101px;
}

.footer-info__link {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.html-academy {
	display: inline-block;
	font-size: 0;
	width: 27px;
	height: 34px;
	transition: all .2s;
	background: url(../img/spritesheet.png) no-repeat;
	background-position: -5px -53px;
}

.html-academy:hover {
	opacity: .7;
}

.html-academy:active {
	opacity: .3;
}

.footer-info__link,
.footer-tel__link {
	text-decoration: none;
	color: #fff;
}

.footer-info__link {
	margin-right: 35px;
}

.catalog-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.main-header {
	margin-top: 45px;
	margin-bottom: 42px;
	padding-right: 60px;
	padding-left: 60px;
}

.breadcrumbs__link {
	font-size: 14px;
	position: relative;
	margin-right: 18px;
	padding-right: 20px;
	text-decoration: none;
	color: rgba(0, 0, 0, .3);
}

.breadcrumbs__link::after {
	position: absolute;
	top: 8px;
	right: 0;
	width: 3px;
	height: 3px;
	content: '';
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

.breadcrumbs__link:last-child::after {
	display: none;
}

.shop {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	min-height: 1200px;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.shop__title {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000;
}

.shop__title--filter {
	display: block;
	padding-left: calc(100% - 268px);
	background: #dcdcdc;
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
}

.left-column {
	width: calc(50% - 252px);
}

.shop-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #efefef;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.right-column {
	width: calc(50% + 252px);
}

.shop-sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 72px;
	background: #ebebeb;
}

.shop-catalog {
	padding-top: 68px;
	padding-bottom: 75px;
	padding-left: 72px;
}

.shop-catalog-list {
	width: 760px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.catalog-paginator-numbers,
.shop-catalog-list,
.paginator {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.paginator {
	width: 760px;
	height: 70px;
	margin-top: -10px;
	letter-spacing: 3px;
	background: #ebebeb;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.catalog-paginator-numbers {
	min-width: 86px;
}

.product {
	position: relative;
	width: 360px;
	min-height: 435px;
	margin-bottom: 32px;
}

.product__title {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	width: 260px;
	color: #000;
}

.product-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.product-add {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 379px;
	transition: opacity .3s;
	opacity: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.product:hover .product-add {
	opacity: 1;
}

.product-add:before {
	opacity: 0;
}

.product:hover .product-add:before {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 379px;
	content: '';
	opacity: .7;
	background-color: #eee;
}

.product-add__link {
	font-family: 'Open Sans';, "Arial", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 36px;
	z-index: 3;
	transition: opacity .2s;
	text-decoration: none;
	opacity: .5;
	color: #000;
}

.product-add__link:hover {
	opacity: 1;
}

.product-add__link:active {
	opacity: .2;
}

.button--product {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.product__img {
	margin-bottom: 8px;
}

.filter-form {
	width: 200px;
	margin-right: 80px;
	padding-top: 70px;
	padding-left: 10px;
}

.filter-group,
.sort-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.filter-group {
	width: 100%;
	padding: 0px;
	border: none;	
}

.filter__subtitle {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	display: block;
	align-self: stretch;
	width: 200px;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-top: 6px;
	border-top: 2px solid black;
}

.filter-color__checkbox {
	display: none;
}


.filter-label {
	position: relative;
	padding-left: 40px;
	display: block;
	cursor: pointer;
	width: 100%;
	margin-bottom: 9px;
}

.filter-label:last-child {
	margin-bottom: 40px;
}


.filter-label:hover:before {
	background-color: #cecece;
}

.filter-label:active:before {
	background-color: #c4c4c4;
}

.filter-label:before {
	position: absolute;
	top: 4px;
	left: 0;
	width: 23px;
	height: 23px;
	content: '';
	transition: all .2s;
	background: #dbdbdb;
}

.filter-label:after {
	position: absolute;
	top: 8px;
	left: 4px;
	width: 12px;
	height: 7px;
	content: '';
	transition: all .2s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	opacity: 0;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

#color-white:checked~.filter-label[for='color-white']:after,
#color-black:checked~.filter-label[for='color-black']:after,
#color-red:checked~.filter-label[for='color-red']:after,
#color-pink:checked~.filter-label[for='color-pink']:after,
#color-blue:checked~.filter-label[for='color-blue']:after {
	-webkit-transform: rotate(-45deg) scale(1);
	transform: rotate(-45deg) scale(1);
	opacity: 1;
}

.filter__radio {
	display: none;
}

.filter-label--radio {
	position: relative;
	padding-left: 40px;
	display: block;
	width: 100%;
	cursor: pointer;
	margin-bottom: 10px;
}

.filter-label--radio:last-child {
	margin-bottom: 35px;
}

.filter-label--radio:before {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	content: '';
	transition: all .2s;
	border: 2px solid #c6c6c6;
	border-radius: 50%;
}

.filter-label--radio:hover:before {
	border-color: #bcbcbc;
}

.filter-label--radio:active:before {
	border-color: #acacac;
}

.filter-label--radio:after {
	position: absolute;
	top: 9px;
	left: 7px;
	width: 6px;
	height: 6px;
	content: '';
	cursor: pointer;
	transition: all .2s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	opacity: 0;
	border: 2px solid black;
}

#with-bluetooth:checked~.filter-label--radio[for='with-bluetooth']:after,
#without-bluetooth:checked~.filter-label--radio[for='without-bluetooth']:after {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	border-radius: 50%;
}

.label-group {
	position: relative;
	margin-bottom: 68px;
}

.filter__label-number {
	display: inline-block;
	position: absolute;
}

.filter__label-number--min {
	left: 0;
	top: 0;
}

.filter__label-number--max {
	left: 60%;
	transform: translateX(-30%);
}

.filter__number {
	display: inline-block;
	width: 50px;
	border: none;
	background: transparent;
	outline: none;
}


.range {
	width: 200px;
	height: 2px;
	background: #dbdbdb;
	position: relative;
	margin-top: 12px;
}

.range__toggle {
	position: absolute;
	transform: translate(0, -50%);
	width: 14px;
	height: 14px;
	border: 2px solid black;
	border-radius: 50%;
	background: #eeeeee;
	transition: all 0.2s;
}

.bar {
	position: absolute;
	height: 2px;
	top: 0;
	left: 0;
	background: #91c92f;
	width: 60%;
}

.range__toggle:active {
	background: #7eae29;
	border-color: white;
	box-shadow: 0px 3px 5px -2px black;
}

.range__toggle--max {
	left: 60%;
}

.sort-nav {
	flex-direction: row;
	width: 560px;
	max-height: 70px;
	margin-left: 50px;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sort-control__link,
.sort-list__link {
	font-family: 'Open Sans', "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 70px;
	text-decoration: none;
	color: #000;
}

.sort-list__link {
	margin-right: 30px;
	transition: all .2s;
	opacity: .3;
}

.sort-list__link:hover {
	opacity: .7;
}

.sort-list__link:active {
	opacity: 1;
}

.sort-list__link--active {
	opacity: 1;
}

.sort-control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 60px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sort-control__link {
	font-size: 0;
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	transition: all .2s;
	opacity: .3;
	border: 8px solid transparent;
	border-left: 8px solid black;
}

.sort-control__link:hover {
	opacity: .7;
}

.sort-control__link:active {
	opacity: 1;
}

.sort-control__link--active {
	opacity: 1;
}

.sort-control__link:first-child {
	top: -4px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.sort-control__link:nth-child(2) {
	bottom: -4px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.popup {
	display: none;
	padding: 0px;
	width: 960px;
	z-index: 5;
	box-shadow: 0 12px 45px -10px black;
	background: white;
	font-size: 0;
	position: fixed;
	top: 50px;
	left: calc(50% - 480px);
}

.popup-show {
	display: block;
}

.popup-map {
	z-index: 1;
	position: relative;
	vertical-align: middle;
}

.popup-close {
	display: block;
	z-index: 2;
	border: none;
	background: none;
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 0;
	background: #f0c52e;
	opacity: 0.7;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	transition: all, 0.2s;
}

.popup-close:hover {
	opacity: 1;
}

.popup-close:active:before,
.popup-close:active:after {
	background: #f5d76d;
}

.popup-close:after,
.popup-close:before {
	position: absolute;
	content: "";
	width: 31px;
	height: 3px;
	border-radius: 1px;
	background: white;
	left: 13px;
	top: 27px;
	transition: all 0.2s;
}

.popup-close:after {
	transform: rotate(45deg);
}

.popup-close:before {
	transform: rotate(-45deg);
}

.fb-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 95px;
	padding-bottom: 90px;
}

.fb-label {
	display: inline-block;
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: black;
	width: 360px;
}

.fb-label--textarea {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 40px;
}

.fb-who {
	width: 100%;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	background: #f2f2f2;
	margin-top: 10px;
}

.fb-who:placeholder {
	color: #bababa;
}

.fb-text {
	width: 100%;
	max-width: 100%;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	background: #f2f2f2;
	margin-top: 10px;
}

.fb-who:hover,
.fb-text:hover {
	background: #eaeaea;
}

.fb-who:focus,
.fb-text:focus {
	outline: 3px solid #f7e296;
	background: white;
}

.fb-who:invalid,
.fb-text:invalid {
	background: #f6dada;
}

.fb-text:placeholder {
	color: #bababa;
}


/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 12px;
    height: 12px;
    background-position: -5px -5px;
}

.sprite-basket-header {
    width: 12px;
    height: 12px;
    background-position: -27px -5px;
}

.sprite-compare {
    width: 10px;
    height: 10px;
    background-position: -49px -5px;
}

.sprite-compare-header {
    width: 10px;
    height: 10px;
    background-position: -69px -5px;
}

.sprite-credit {
    width: 156px;
    height: 188px;
    background-position: -89px -5px;
}

.sprite-delivery {
    width: 136px;
    height: 164px;
    background-position: -255px -5px;
}

.sprite-fb {
    width: 39px;
    height: 38px;
    background-position: -401px -5px;
}

.sprite-htmlacademy {
    width: 27px;
    height: 34px;
    background-position: -5px -53px;
}

.sprite-insta {
    width: 39px;
    height: 38px;
    background-position: -401px -53px;
}

.sprite-loop-icon {
    width: 16px;
    height: 16px;
    background-position: -450px -5px;
}

.sprite-tw {
    width: 38px;
    height: 38px;
    background-position: -5px -101px;
}

.sprite-user-header {
    width: 13px;
    height: 12px;
    background-position: -5px -31px;
}

.sprite-user-icon-footer {
    width: 13px;
    height: 12px;
    background-position: -28px -31px;
}

.sprite-warranty {
    width: 171px;
    height: 195px;
    background-position: -255px -179px;
}*/
